html, body {
    height: 100%;
  }

body {font-family: 'Inter', sans-serif; 
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./imgs/forest.jpg);}


.main {box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 700px;
    padding: 5px;
    border: solid black 0px;
    background-color: #232425;
    border-radius: 5px;}

.one {background-color: #26495c}
.two {background-color: #c4a35a;}
.three {background-color: #e2e2da;}

.one, .two, .three {display: flex;
    width:  100%;
    height:1000%;
    border-radius: 5px;}

.two {display: flex;
    justify-content: space-evenly;
    align-items: center;}
.rock, .paper, .scissor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}

.rockI, .paperI, .scissorI {height: 75px;
    width: 75px;}

.three {flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;}

.escolhaPlayer, .escolhaPC {display: flex;
    justify-content: center;
    align-items: center;
    height: 56px; width: 90%;
    border: solid black 2px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 29px;
}

.one {flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;}

.playerScore, .pcscore{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.numPlay, .numPC {font-size: 140px;
    margin: 0px;
    font-weight: 500;
    text-shadow: 2px 2px black;}

.Player ,.PC{margin-top: -20px;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px black;}

.paperD ,.rockD,.scissorD {font-size: 30px;
    font-weight: 900;
    margin: 0;}
button { border-radius: 10px;
    border: solid black 2px;
    box-sizing: border-box;
    height: 150px;
    width: 150px;}

.end {display: none;
        height: 500px;
        width: 800px;
        border-radius: 40px;
        font-size: 70px;
        flex-direction: column;
        justify-content: center;
        align-items: center;}
    
.resultado {font-size: 200px;
        margin: 0;}
    
.message {margin: 0}

.again { margin: 0;}
